# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
*   Create a markdown cell to list data science languages
*   Create a markdown cell to list data science libraries
*   Create a markdown cell with a table of Data Science tools

Some of the popular languages that Data Scientists use are:

In [ ]:
languages = ['Python', 'R', 'C++']
print(languages)

['Python', 'R', 'C++']

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
libraries = ['pandas', 'numpy', 'scikit-learn (sklearn)']
print(libraries)

['pandas', 'numpy', 'scikit-learn (sklearn)']

| Data Science Tools |
| :- |
| Visual Studio |
| PyCharm |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author:
HUA-TE KUO